= form_for(Website.new, :url => user_omniauth_authorize_path(:provider => 'google_oauth2'), :data => {'class-binder' => 'WebsiteInput'} , :html => {:class => 'user-url-landing', :method => :get}) do |f|
  = f.text_field :url, :class => 'inner-input-landing', :placeholder => 'Website URL', :value => @website.andand.url
  = f.submit "Let's wiggle", :class => 'submit-button-landing'
  