= render({:partial => 'users/partials/form', :locals => {:user => @user} })

#animation-code.settings-block
  %header JavaScript Animation Code
  %div
    %label Paste the following JavaScript code snippet between the ‹head› tags on every page of your site.
    %code.wiggle-js-snippet
      #{"<script src='//wiggle-beta.herokuapp.com/animate?q=#{current_user.api_key}'></script>"}
