%nav
  %ul.user-tools
    %li.clear-wiggle-logo
    %li.animations-list.active
      %a{:href => "#"}
      .custom-title Play
    %li.visual
      %a{:href => "#"}
      .custom-title Visual
    %li.settings
      %a{:href => "#"}
      .custom-title Settings
    %li.log-out
      %a{:href => destroy_user_session_path}
      .custom-title Log out