%p.getting-started-instruction
  Before you can start to add animations to your website, you first need to copy the Javascript snippet below and paste it in between your
  %code #{"<head>"}
  tags of your website.
%code.wiggle-js-snippet
  #{"<script src='//my.letswiggle.io/#{current_user.api_key}.js' type='text/javascript' charset='utf-8' async='async'></script>"}
.submit-block
  = link_to(finish_wizard_path) { button_tag("Ready to start", :class => 'ready-to-start') }