!!!
%html
  = render({:partial => 'layouts/partials/application/head'})
  %body
    .admin-panel
      = render({:partial => 'layouts/partials/application/menu'})
      = render({:partial => 'layouts/partials/application/header'})
      .content
        = yield
